@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NotoSansRegular';
    font-style: normal;
    src: url('/fonts/NotoSans-Regular.ttf'); /* IE9 Compat Modes */
    src: local(), url('/fonts/NotoSans-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'NotoSansBold';
    font-style: bold;
    src: url('/fonts/NotoSans-Bold.ttf'); /* IE9 Compat Modes */
    src: local(), url('/fonts/NotoSans-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'PatrickHand';
    font-style: normal;
    src: url('/fonts/PatrickHand-Regular.ttf'); /* IE9 Compat Modes */
    src: local(), url('/fonts/PatrickHand-Regular.ttf') format('truetype')
}



body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 20px;

}
body::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 20px;
}

h2, h1, h3, p, li {
    font-family: 'PatrickHand';
    font-weight: normal;
}


span {
    font-weight: 700;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
}
